<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml" />
    <include resource="org/springframework/boot/logging/logback/console-appender.xml" />

    <!-- Reads values directly out of your application.properties file -->
    <springProperty scope="context" name="AZURE_CONN_STR" source="azure.storage.connection-string"/>
    <springProperty scope="context" name="AZURE_CONTAINER" source="azure.storage.container-name"/>

    <!-- Define our custom Azure Blob Appender -->
    <appender name="AZURE_BLOB" class="com.employee.logging.AzureBlobAppender">
        <connectionString>${AZURE_CONN_STR}</connectionString>
        <containerName>${AZURE_CONTAINER}</containerName>
        <blobPrefix>springboot-app-</blobPrefix>
    </appender>

    <appender name="ASYNC_AZURE_BLOB" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="AZURE_BLOB" />
        <queueSize>512</queueSize>
        <discardingThreshold>0</discardingThreshold>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="ASYNC_AZURE_BLOB" />
    </root>
</configuration>
